<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">secao2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <div id="capitulo">
        <h3 position="floating">Generalidades</h3>
        <p>As limitação incluidas nesta seção foram aprovadas pela <strong>Aeronautical Industry Piper Aircraf</strong>.
        A tripulação é obrigadoa a cumprí-las durante a operaçã da aeronave.</p>
      </div>
      <div id="capitulo">
        <h3>Desepenho e limites de operação</h3>
        <p>A aeronave Seneca I fio projetada para ser utilizada na categoria "NORMAL".</p>
        <h6>Categoria Normal</h6>
        <p>Na categoria normal, a aeronave não foi projetada para executar nenhuma manobra avançada ou acrobáticaa existente no curso de 
          piloto privado/comercial, incluindo ainda parafusos.
        </p>
        <ul>
          <li>Peso Máximo de decolagem: <strong>1905 kg</strong></li>
          <li>Fator Carga: <strong>3,8 G</strong></li>
        </ul>
        <p>Na execução de manobras permitidas, deve-se tem em mente que, ao atingir a posição de voo em mergulho, o avião ganha velocidade 
          rapidamente e toda a recuperação deve ser feita com suavidade a fim de não impor cargas excessivas a estutura.
        </p>
        <p>Em hipótese alguma, o <strong>bagageiro dianteiro</strong> deverá ser carregado com peso <strong>superior a 45kg</strong>.</p>
        <p>Em hipótese alguma, o <strong>bagageiro traseiro</strong>deverá ser carregado com peso <strong>suepiro a 45kg</strong>.</p>
        <ion-img src="./assets/secao2/bagageiros.jpg" alt="Bagageiros"></ion-img>
      </div>
      <div id="capitulo">
        <h3>Peso da aeronave</h3>
        <p>O peso da aeronave vazia é de 1.270 kg, o que pode variar de avião para avião e que pode ser consultado na ficha de peso e 
          balanceamento de cada aeronave.
        </p>
        <p>Este peso constitui o peso da aeronave vazia mais a quantidade de óleo máxima e gasolina não drenavel. (Peso Vazio Básico)</p>
        <h6>Limite de peso</h6>
        <ul>
          <li>Peso máximo de decolagem: 1905 kg</li>
          <li>Peso máximo de pouso: 1814 kg</li>
          <li>Peso máximo no bagageiro dianteiro: 45 kg</li>
          <li>Peso máximo no bagageiro traseiro: 45 kg</li>
        </ul>
      </div>
      <div id="capitulo">
        <h3>Limites do centro de gravidade - C.G</h3>
        <ul><li><small>C.G = Centro de gravidade</small></li></ul>
        <p>Este é o ponto ao qual a aeronave se equilibra, se suspensa. Sua distância, a partir do plano de referência, o bordo de ataque, 
          é calculado dividindo-se o momento atual total pelo peso total da aeronave.
        </p>
        <h6>Limites do centro de gravidade</h6>
        <p>São localizações extremas do centro de gravidade, dentro dos quais o avião pode ser operado num dado peso. O centro de gravidade 
          do avião vazio, na posição da linha de voo, encontra-se a <strong>1,991 m</strong> à frente do bordo de ataque.
        </p>
        <h6>Limites do passeio do C.G</h6>
        <ul>
          <li>Dianteiro:<strong>2,217 cm</strong></li>
          <li>Traseiro:<strong>2,362 cm</strong></li>
        </ul>
      </div>
      <div id="capitulo">
        <h3>Limitações de velocidade</h3>
        <ul>
          <li><strong>VNE</strong>-Vel nunca exceder: 217 MPH</li>
          <li><strong>VNO</strong>-Vel max estrutural de cruzeiro: 190 MPH</li>
          <li><strong>VI</strong>-Vel de manobra:<ul><li>146 MPH (4200 lbs)</li><li>133 MPH (2743 lbs)</li></ul></li>
          <li><strong>VFE</strong>-Vel max com flap estendido: 125 MPH</li>
          <li><strong>VLO</strong>-Vel max para baixar o trem de pouso: 150 MPH<ul><li><small>Não Baixar o trem com velocidades 
            superior a esta.
          </small></li></ul></li>
          <li><strong>VLO</strong>-Vel max para recolher o trem de pouso: 125 MPH.<ul><li><small>Não recolher o trem de pouso 
            em velocidades superiores a esta.
          </small></li></ul></li>
          <li><strong>VLE</strong>-Vel max com o trem de pouso estendido: 150 MPH</li>
        </ul>
        <ion-img src="./assets/secao2/tabela_velocidade.jpg" alt="Tabelas velicidades"></ion-img>
        <h6>Marcações do velocímetro</h6>
        <table id="tbl"><!--#tbl, th#RowTitleTable, td#RowDataTable-->
          <tr>
            <th>Cor</th>
            <th>Faixa de operção</th>
            <th>Valores</th>
          </tr>
          <tr>
            <th>Arco Verde</th>
            <th>Normal</th>
            <th>76 a 190 MPH</th>
          </tr>
          <tr>
            <th>Arco Branco</th>
            <th>com Full Flap</th>
            <th>69 a 125 MPH</th>
          </tr>
          <tr>
            <th>Arco Amarelo</th>
            <th>Cautela</th>
            <th>190 a 217 MPH</th>
          </tr>
          <tr>
            <th>Linha Vermelha</th>
            <th>Nunca exceder</th>
            <th>217 MPH</th>
          </tr>
          <tr>
            <th>Linha Vermelha</th>
            <th>Vel min Controle mono</th>
            <th>80 MPH</th>
          </tr>
          <tr>
            <th>Linha Azul</th>
            <th>Vel melhor razão sub</th>
            <th>105 MPH</th>
          </tr>
        </table>
        <ul>
          <li>Velocidade de stall flap 0°: <strong>76 MPH</strong></li>
          <li>Velocidade de stall full flap: <strong>69 MPH</strong> </li>
        </ul>
        <ion-img src="./assets/secao2/marca_velocimetro.jpg" alt="Velocimentro"></ion-img>
        <h6>Velocidades de segurança</h6>
        <h6>Decolagem</h6>
        <table id="tbl">
          <tr>
            <th>Normal</th>
            <th>90 MPH</th>
          </tr>
          <tr>
            <th>Curta</th>
            <th>75 MPH</th>
          </tr>
          <tr>
            <th>Subida</th>
            <th>105 MPH</th>
          </tr>
          <tr>
            <th><strong>Melhor razão mono</strong></th>
            <th><strong>105 MPH</strong></th>
          </tr>
          <tr>
            <th>Melhor ângulo</th>
            <th>90 MPH</th>
          </tr>
        </table>
        <h6>Pouso</h6>
        <table id="tbl">
            <tr>
              <th>App sem flap</th>
              <th>115 MPH</th>
            </tr>
            <tr>
              <th>App flap 10°</th>
              <th>105 MPH</th>
            </tr>
            <tr>
              <th>App flap 25°</th>
              <th>100 MPH</th>
            </tr>
            <tr>
              <th>App Full flap</th>
              <th>95 MPH</th>
            </tr>
            <tr>
              <th>Descida</th>
              <th>140 MPH</th>
            </tr>
            <tr>
              <th>Planeio</th>
              <th>105 MPH</th>
            </tr>
            <tr>
              <th>Melhor Planeio</th>
              <th>105 MPH</th>
            </tr>
          </table> 
      </div>
      <div id="capitulo">
        <h3>Óleo</h3>
        <h6>Temperatura do óleo</h6>
        <ul>
          <li>Faixa verde (operacional): 24°C a 118°C</li>
          <li>Linha Vermelha (máximo): Acima de 118°C</li>
        </ul>
        <h6>Pressão do óleo</h6>
        <ul>
          <li>Faixa Verde (operacional): 60 a 90 PSI</li>
          <li>Faixa Amarela (operação com cautela): 25 a 60 PSI</li>
          <li>Faixa Vermelha (Mínimo): até 25 PSI</li>
          <li>Faixa Vermelha (Máximo): Acima de</li>
        </ul>
        <ion-img src="./assets/secao2/instrumento_oleo.jpg" alt="instrumento oleo"></ion-img>
      </div>
      <div id="capitulo">
        <h3>Peso e Balanceamento</h3>
        <ul><li><small><strong>1Kg = 2,2046 Libras</strong></small></li></ul>
        <ion-img src="./assets/secao2/peso_balanceamento.jpg" alt="ficha de cálculo"></ion-img>
        <ion-img src="./assets/secao2/envelope.jpg" alt="Envelope peso e balanceamento"></ion-img>
        <ion-img src="./assets/secao2/decolagem.jpg" alt="Distância de decolagem"></ion-img>
        <ion-img src="./assets/secao2/pouso.jpg" alt="Distância de pouso"></ion-img>
      </div>
</ion-content>
<ion-button size="large" slots="end" (click)="fecharMdl()">Fechar</ion-button>