<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">secao4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
    <div id="capitulo">
        <h3 id="danger">Cross control estol</h3>
        <p>Com a aeronave em curva, a aplicação do pedal leva o nariz para baixo e tende a aumentar a
          inclinação de asa, obrigando o piloto a inclinar o manche da aeronave no sentido contrário ao da curva e a
          puxá-lo para impedir que o nariz da aeronave desça. Nessa situação, a asa do lado de fora da curva
          apresenta velocidade superior à outra asa, aumentando a força e a amplitude necessária na aplicação dos
          comandos. A aplicação dos comandos acrescenta arrasto na aero nave, obrigando o aumento do ângulo de
          ataque para a manutenção da velocidade indicada e da razão de descida. O ângulo de ataque da aeronave
          aumenta até atingir o ângulo crítico, levando a um estol na asa que se encontra no raio interno da curva,
          por estar com menor velocidade e consequente menor sustentação</p>
      </div>
      <div id="capitulo">
        <h3 id="danger">Vmca</h3>
        <p>É a menor velocidade que o controle direcional pode ser mantido com:</p>
        <ul>
          <li>Um motor inoperante</li>
          <li>Com potência de decolagem</li>
          <li>Motor da falha embandeirado</li>
          <li>5 graus para o motor operante</li>
          <li>Flaps na posição de decolagem</li>
          <li>CG mais a frente possível</li>
          <li>Peso mínimo</li>
        </ul>
        <ion-img src="./assets/secao4/tabela_vmca.jpg" alt="Tabela vmca"></ion-img>
        <h5>Fatores que afetam a Vmca</h5>
        <ol>
          <li>Posição do CG</li>
          <li>Temperatura</li>
          <li>Ângulo de curva</li>
          <li>Peso</li>
        </ol>
      </div>
      <div id="capitulo">
        <h2 id="danger">Emergências</h2>
        <h3 class="destaqueEmer">Fogo no motor durante o acionamento</h3>
        <p>Se houver fogo no acionamentoou durante operações no solo, siga o checklist e, se houver tempo, peça ajuda pelo rádio</p>
        <ol>
          <li>Starter: <strong>Engage</strong></li>
          <li>Potência: <strong>Full a frente</strong></li>
          <li>Seletoras: <strong class="maiusculo">off</strong></li>
          <li>Starter: <strong class="maiusculo">off</strong></li>
          <li>Master: <strong class="maiusculo">off</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Caso o fogo persista, abandone a aeronave.</p>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Fogo no motor em voo</h3>
        <ol>
          <li>Motor afetado: <strong>Identificar</strong></li>
          <li>Potência: <strong>Fechar</strong></li>
          <li>Manete das hélices: <strong>Feather</strong></li>
          <li>Mistura: <strong>Cortar</strong></li>
          <li>Seletora: <strong class="maiusculo">off</strong></li>
          <li>Heater: <strong class="maiusculo">off</strong></li>
          <li>Magnetos: <strong class="maiusculo">off</strong></li>
          <li>Bomba elétrica: <strong class="maiusculo">off</strong></li>
          <li>Cowl Flap (motor afetado):<strong>Fechar</strong></li>
          <li>Alternador (motor afetado): <strong class="maiusculo">off</strong></li>
          <li>Consumo elétrico: <strong>Reduzir</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Se o fogo não for controlado, o piloto deve pousar imediatamente.</p>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Falha do motor em voo</h3>
        <ol>
          <li>Motor afetado: <strong>Identificar</strong></li>
          <li>Seletora: <strong class="maiusculo">x-feed</strong></li>
          <li>Ar Alternado: <strong class="maiusculo">open</strong></li>
          <li>Mistura: <strong>Como requerido</strong></li>
          <li>Bombas Elétricas: <strong class="maiusculo">on</strong></li>
          <li>Magnetos: <strong><span class="maiusculo">l</span> ou <span class="maiusculo">r</span> só</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Se a potência não for reestabelecida, o piloto deverá embandeirar a hélice do motor inoperante.</p>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Procedimento para embandeiramento</h3>
        <ol>
          <li>Motor afetado: <strong>Identificar</strong></li>
          <li>Velocidade mínima: <strong>90 MPH</strong></li>
          <li>Potência: <strong class="maiusculo">idle</strong></li>
          <li>Manete da hélice: <strong>Feather</strong></li>
          <li>Mistura: <strong>Cortar</strong></li>
          <li>Magnetos: <strong class="maiusculo">off</strong></li>
          <li>Bomba elétrica: <strong class="maiusculo">off</strong></li>
          <li>Cowl Flap: <strong>Fechado</strong></li>
          <li>Alternador: <strong class="maiusculo">off</strong></li>
          <li>Consumo elétrico: <strong>Reduzir</strong></li>
        </ol>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Procedimento para desembandeirar</h3>
        <ol>
          <li>Seletora do motor inop: <strong class="maiusculo">on</strong></li>
          <li>Bomba elétrica: <strong class="maiusculo">off</strong></li>
          <li>Potência: <strong>1/4 inch</strong></li>
          <li>Manete da hélice: <strong>Posição de cruzeiro</strong></li>
          <li>Mistura: <strong>Rica</strong></li>
          <li>Magnetos: <strong class="maiusculo">on</strong></li>
          <li>Starter: <strong>Acionar até hélice girar</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Se o motor não acionar, deverá ser apliado 3 segundos de prime através da bomba de combustível.</p>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Disparo de hélices</h3>
        <ol>
          <li>Motor afetado: <strong>Identificar</strong></li>
          <li>Potência: <strong>Fechar</strong></li>
          <li>Velocidade: <strong>105 MPH</strong></li>
          <li>Manete da hélice: <strong>Baixa RPM</strong></li>
          <li>Potência: <strong>A frente devagar</strong></li>
          <li>RPM normal: <strong>Checar</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Continue o voo com velocidade e potÊncia do motor afetado reduzida e pouse assim que possível.</p>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Posição insegura do trem de pouso</h3>
        <ol>
          <li>trem de pouso: <strong>Baixado</strong></li>
          <li>Luz de navegação: <strong class="maiusculo">off</strong></li>
          <li>CBs: <strong>Checar <span class="maiusculo">in</span></strong></li>
          <li>Master: <strong class="maiusculo">on</strong></li>
          <li>Alternadores: <strong>Checar</strong></li>
          <li>Trem de pouso: <strong id="vrde">3 verdes</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Caso o piloto receba informação de duas luzes verdes, o mesmo deverá inverter a posição das lâmpadas, para 
          verificar uma possível falha das mesmas. Após realizado todo o procedimento e não houver a indicação, o piloto deverá 
          prosseguir com o checklist para descida manual do trem de pouso.
        </p>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Decida manual do trem de pouso</h3>
        <ol>
          <li>Alavanca do trem de pouso: <strong class="maiusculo">down</strong></li>
          <li>CB: <strong class="maiusculo">out</strong></li>
          <li>Velocidade: <strong>Abaixo de 100 MPH</strong></li>
          <li>Botão de emergência do trem de pouso: <strong>Apertar</strong></li>
          <li>Luzes do trem de pouso: <strong id="vrde">Checar 3 verdes</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Para ajudar o trem a baixar e travar, o piloto poderá provocar fatores de carga. Caso o trem não baixe, o piloto 
          deverá prosseguir com o procedimento para pouso de barriga.
        </p>
      </div>
      <div id="capitulo">
        <h3 class="destaqueEmer">Pouso de barriga</h3>
        <ol>
          <li>Velocidade de aproximação: <strong>100 MPH</strong></li>
          <li>Flaps: <strong class="maiusculo">uo</strong></li>
          <li>Potência: <strong>Fechar pouco antes do toque</strong></li>
          <li>Master: <strong><span class="maiusculo">off</span> pouco antes do toque</strong></li>
          <li>Seletoras: <strong class="maiusculo">off</strong></li>
          <li>Contato com a superfície: <strong>Menor velocidade possível</strong></li>
        </ol>
      </div>
</ion-content>
<ion-button size="large" slots="end" (click)="fecharMdl()">Fechar</ion-button>