<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Check-Lists
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-divider class="ion-text-center" color="primary">
      <ion-label>
        Inspeção Interna
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row *ngFor="let ii of inspecaoInterna">
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding ion-align-self-stretch">
      <div class="absoluta">
        <ion-button (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
        </div>
    </ion-col>
    <ion-col class="ion-no-padding ion-align-self-stretch">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
  <ion-list>
    <ion-item-divider color="primary">
      <ion-label>
        Check de Acionamento
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row *ngFor="let ii of checkAcionamento" align-items: flex-start>
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding">
      <div class="absoluta">
        <ion-button  (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-no-padding">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
  <ion-list>
    <ion-item-divider class="ion-text-center" color="primary">
      <ion-label>
        Acionamento Motor Esquerdo
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row class="testedostestes" *ngFor="let ii of motorEsquerdo">
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding">
      <div class="absoluta">
        <ion-button  (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-no-padding">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <h3 class="testeFundo" *ngIf="ii.oleo">Se não tiver indicação de pressão em 30s, cortar o motor</h3>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
  <ion-list>
    <ion-item-divider class="ion-text-center" color="primary">
      <ion-label>
        Acionamento Motor Direito
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row class="testedostestes" *ngFor="let ii of motorDireito">
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding">
      <div class="absoluta">
        <ion-button  (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-no-padding">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <h3 class="testeFundo" *ngIf="ii.oleo">Se não tiver indicação de pressão em 30s, cortar o motor</h3>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
  <ion-list>
    <ion-item-divider class="ion-text-center" color="primary">
      <ion-label>
        Após o Acionamento
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row class="testedostestes" *ngFor="let ii of aposAcionamento">
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding">
      <div class="absoluta">
        <ion-button  (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-no-padding">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
  <ion-list>
    <ion-item-divider class="ion-text-center" color="primary">
      <ion-label>
        Taxi
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row class="testedostestes" *ngFor="let ii of taxi">
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding">
      <div class="absoluta">
        <ion-button  (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-no-padding">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
  <ion-list>
    <ion-item-divider class="ion-text-center" color="primary">
      <ion-label>
        Checklist de 500 ft
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row class="testedostestes" *ngFor="let ii of ckl500">
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding">
      <div class="absoluta">
        <ion-button  (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-no-padding">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
  <ion-list>
    <ion-item-divider class="ion-text-center" color="primary">
      <ion-label>
        Cheque de aproximação
      </ion-label>
    </ion-item-divider> 
  </ion-list>
  <ion-row class="testedostestes" *ngFor="let ii of app">
    <ion-col size="1" *ngIf="ii.checado" class="ion-no-padding">
      <div class="absoluta">
        <ion-button  (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" slot="start" color="danger">X</ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-no-padding">
        <ion-card [disabled]="ii.checado">
      <ion-card-header (click)="ii.abrir=!ii.abrir">
        <ion-card-subtitle>{{ii.objeto}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="ii.abrir">
        <p class="dentro"><strong>{{ii.acao}}</strong></p><p></p>
        <ion-button Expand="block" (click)="ii.checado=!ii.checado" (click)="ii.abrir=!ii.abrir" >Checado</ion-button>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>  
</ion-content>
