<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title class="ion-text-center">Historico.</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding" fullscreen>
    <div id="noRegistro">{{teste}}</div>
    <ion-card button="true" *ngFor="let historia of calculos">
      <ion-item>
        <ion-icon name="airplane" slot="start" (click)="historia.expandir = !historia.expandir"></ion-icon>
        <ion-icon name="trash" slot="end" (click)="presentAlert(historia)"></ion-icon>
        <ion-label>
          <h3 >Calculo do dia {{historia.data}}</h3>
          <h5>Teste</h5>
        </ion-label>
      </ion-item>
      <ion-card-content *ngIf="historia.expandir">
        <p>Autonomia(litros): {{historia.autonomiaL}} L</p>
        <p>Autonomia (Kilos): {{historia.autonomiaK}}</p>
      </ion-card-content>
    </ion-card>
  
  </ion-content>