<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../assets/seneca/seneca1-1.jpg" alt="Cade meu seneca aqui!!!" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Seneca I</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 class="ion-text-center"><strong>Aqui você encontra o material necessário para poder estudar e assim realizar um voo seguro 
        no Seneca I da escola.</strong></h2>
      <p class="ion-text-center">Está separado em 4 Seções: Seção 1: Aeronaves e Sistemas, Seção 2: Limitações, 
        Seção 3: Procedimentos Normais, Seção 4: Procedimentos de emergência.</p>
      <p class="ion-text-center">Ainda tem uma área para ajudar no calculo de peso e balancemento.</p>
    </ion-card-content>
  </ion-card>
<ion-row>
  <ion-col  class="container ion-align-self-end" col="6" >
    <ion-item ><ion-img class="icones image" src="./assets/icon/secao2.jpg"></ion-img>
      <div class="overlayUD">
        <div class="text" (click)="mdlSc1()"><h4>Seção 1</h4><p class="para">Aeronave</p><p class="para">e Sistemas</p></div>
      </div>
    </ion-item>
  </ion-col>
  <ion-col class="container" col="6" align-self-end>
    <ion-item><ion-img class="icones image" src="./assets/seneca/motor.jpg"></ion-img>
      <div class="overlayUD">
        <div class="text" (click)="mdlSc2()"><h4>Seção 2</h4><p class="para">Limitações</p></div>
      </div>
    </ion-item>
  </ion-col>  
</ion-row>
<ion-row>
    <ion-col class="container" col="6" align-self-start>
      <ion-item><ion-img class="icones image" src="./assets/icon/seneca_Icon.jpg"></ion-img>
        <div class="overlayDU">
            <div class="text" (click)="mdlSc3()"><h4>Seção 3</h4><p class="para">Procedimentos</p><p class="normal">Normais</p></div>
          </div>
      </ion-item>
    </ion-col>
    <ion-col class="container" col="6" align-self-start>
      <ion-item><ion-img class="icones image" src="./assets/icon/aviaopoucoemergencia.jpg"></ion-img>
        <div class="overlayDU">
          <div class="text" (click)="mdlSc4()"><h4>Seção 4</h4><p class="emergency">Procedimentos</p><p class="emergency">de emergência</p></div>
        </div></ion-item>
    </ion-col>  
  </ion-row>
</ion-content>
