.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.icones{
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlayUD {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 95%;
  height: 0;
  transition: .5s ease;
  opacity: 0.5;
}

.container:hover .overlayUD {
  bottom: 0;
  height: 100%;
}
.overlayDU {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 95%;
  height: 0;
  transition: .5s ease;
  opacity: 0.5;
}
.container:hover .overlayDU {
  height: 100%;
}

.text {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
.text .para{
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
}
.text .emergency{
  font-size: 90%;
  text-align: center;
}
.normal{
  text-align: center;
}