/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Css inserido por Jocimar Braga*/
table#tbl{
    width: 100%;
}
table#tbl, th#RowTitleTable, td#RowDataTable {
    border: 1px solid black;
    border-collapse: collapse;
}
#danger{
    color: red; 
    text-align: center;
}
p{
    text-align: justify;
}
td#dados{
    border: 1px solid black;
    border-collapse: collapse;
}
div#capitulo{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
#titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    text-align: center;
  }
#subipca{
    text-decoration: underline;
    color: red;
}
#vrde{
    color: rgba(0,137,85,1)
}
.pop-over-style{
    .popover-content{
        --width:90%!important;
        --height:auto!important;
    }
}
.maiusculo{
    text-transform: uppercase;
}
.destaqueEmer{
    background-color: #ff0000;
    color: #fff;
    text-align: center;
}
.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  .icones{
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlayUD {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 91%;
    height: 0;
    transition: .5s ease;
    opacity: 0.5;
  }
  
  .container:hover .overlayUD {
    bottom: 0;
    height: 100%;
  }
  .overlayDU {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 91%;
    height: 0;
    transition: .5s ease;
    opacity: 0.5;
  }
  .container:hover .overlayDU {
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
  }
  .text .para{
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
  }
  .text .emergency{
    font-size: 90%;
    text-align: center;
  }
  .normal{
    text-align: center;
  }