<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">secao3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
    <div id="capitulo">
        <h3 class="teste principal">Generalidades</h3>
        <p>Esta seção apresenta procedimentos de operação normal do avião, contendo as velocidades de operação com segurança, o detalhamento 
          dos procedimentos normais e lista de verificações.
        </p>
      </div> 
      <div id="capitulo">
        <h3 class="teste principal">Procedimentos Pré-voo</h3>
        <h5 class="teste">Briefing pré-voo</h5>
        <p>antes de iniciar a inspeção pré-voo o aluno deverá realizara um briefing para o instrutor contendo:</p>
        <ol>
          <li>Condições meteriológica (Aeródromos e rota)</li>
          <li>Combustível previsto para o voo</li>
          <li>Planejamento aleternativo</li>
          <li>Notam, Rotaer, AIP(Caso necessário)</li>
          <li>Realizção da verificação das limitações operacionais</li>
          <li>Documentos a bordo da aeronave em voo:
            <ol>
              <li>Licença dos pilotos(aluno quando possuir)</li>
              <li>Certificado de matrícula da acft (<span id="danger">Válido</span>)</li>
              <li>Certificado de aeronavegabilidade (<span id="danger">Válido</span>)</li>
              <li>Ficha de peso e balanceamento</li>
              <li>Manual da aeronave</li>
              <li>Checklist</li>
              <li>NSCA 3-13</li>
              <li>Diário de bordo</li>
              <li>Apólice de seguros(<span id="danger">Com comprovante de pagamento)</span></li>
              <li>Licença de Estação (Anatel)</li>
              <li>FIAM/FIEV(Ficha de isntrumentos e equipamentos de voo)</li>
              <li>Registro de modificações e reparos incorporados a acft</li>
              <li>Cartas Aeronáuticas</li>
              <li>Certificado de homologação suplementar - CHST (?)</li>
            </ol>
          </li>
        </ol>
        <h4 class="teste">Inspeção interna</h4>
        <ol>
          <li>Manche: <strong>Destravado</strong></li>
          <li>Freio de estacionamento: <strong>Aplicados</strong></li>
          <li>Interruptores: <strong class="maiusculo">off</strong></li>
          <li>Magnetos: <strong class="maiusculo">off</strong></li>
          <li>equipamentos Eletrônicos: <strong class="maiusculo">off</strong></li>
          <li>Mistura: <strong>Cortada</strong></li>
          <li>Master: <strong class="maiusculo">on</strong></li>
          <li>Liquidômetro: <strong>Verificar quantidade de Fuel</strong></li>
          <li>Trem de Pouso: <strong>Verificar</strong></li>
          <li>Master: <strong class="maiusculo">off</strong></li>
          <li>Cowl Flap: <strong>Abertos</strong></li>
          <li>Comandos de voo: <strong>Verificar operação</strong></li>
          <li>Flap: <strong>Verificar operação e recolher</strong></li>
          <li>Compesadores: <strong>Verificar operação e neutro</strong></li>
          <li>Sistema Pitot Estático: <strong>Drenar</strong></li>
          <li>Cintos: <strong>Verificar condições e travamento</strong></li>
          <li>Janelas: <strong>Verificar limpeza</strong></li>
          <li>Documentos: <strong>Verificar à bordo</strong></li>
        </ol>
        <h4 class="teste">Inspeção Externa</h4>
        <ion-img src="./assets/secao3/inspecaoext.jpg" alt="Caminho pré-voo"></ion-img>
        <h6 class="teste">Asa Direita</h6>
        <ion-img src="./assets/secao3/asadireita.jpg" alt="asa Direita"></ion-img>
        <ol>
          <li>Dreno da X-FEED: <strong>Sem vazamentos</strong></li>
          <li>Consições das superfícies: <strong>Ausência Deformações</strong></li>
          <li>Flap e articulações: <strong>Verificar</strong></li>
          <li>Aileron e articulações: <strong>Verificar</strong></li>
          <li>Descaregadores estáticos: <strong>Verificar</strong></li>
          <li>Ponta de asa e luzes: <strong>Verificar</strong></li>
          <li>Tanque de Combustível: <strong>Verificar quantidade</strong></li>
          <li>Suspiro do tanque: <strong>Desobstruído</strong></li>
          <li>Dreno dos tanques: <strong>Drenar</strong></li>
          <li>Amarração: <strong>Remover</strong></li>
          <li>Trem de pouso principal: <strong>Verificar distenção(60mm)</strong></li>
          <li>Pneu: <strong>Verificar estado e marcação vermelha</strong></li>
          <li>Freio: <strong>Verificar(Tubulação/Disco/Pastilha)</strong></li>
          <li>Entrada de ar: <strong>Desobstruída</strong></li>
        </ol>
        <h6 class="teste">Motor Direito</h6>
        <ion-img src="./assets/secao3/motordireito.jpg" alt="Motor Direito"></ion-img>
        <ol>
          <li>Nível do Óleo: <strong>Verificar(entre 7 e 6 qts)</strong></li>
          <li>Motor (cabos e fiação): <strong>Estado Geral</strong></li>
          <li>Capota do motor: <strong>Verificar Fixação</strong></li>
          <li>Hélice e Spiner (Vazamento de Óleo): <strong>Verificar</strong></li>
          <li>Cowl Flap: <strong>Abertos e firmes</strong></li>
          <li>Dreno do Filtro de Combustível: <strong>Drenar</strong></li>
        </ol>
        <h6 class="teste">Nariz</h6>
        <ion-img src="./assets/secao3/nariz.jpg" alt="Nariz"></ion-img>
        <ol>
          <li>Condições gerais: <strong>Verificar</strong></li>
          <li>Bagageiro: <strong>Verificar Reservatório Freio</strong></li>
          <li>Bagageiro: <strong>Fechar e travar</strong></li>
          <li>Para-Brisas: <strong>Limpo</strong></li>
          <li>Farol de pouso: <strong>Verificar</strong></li>
          <li>Trem de pouso do nariz: <strong>Verificar distenção(60mm)</strong></li>
          <li>Pneu: <strong>Verificar estado e marcação vermelha</strong></li>
        </ol>
        <h6 class="teste">Motor Esquerdo</h6>
        <ion-img src="./assets/secao3/motoresquerdo.jpg" alt="Motor Esquerdo"></ion-img>
        <ol>
          <li>Nível do Óleo: <strong>Verificar(entre 7 e 6 qts)</strong></li>
          <li>Motor (Cabos e fiação): <strong>Estado Geral</strong></li>
          <li>Capota do motor: <strong>Verificar Fixação</strong></li>
          <li>Hélice e Spiner (Vazamento de óleo): <strong>Verificar</strong></li>
          <li>Cowl Flap: <strong>Abertos e firmes</strong></li>
          <li>Dreno do filtro de Combustível: <strong>Drenar</strong></li>
        </ol>
        <h6 class="teste">Asa Esquerda</h6>
        <ion-img src="./assets/secao3/asaesquerda.jpg" alt="Asa esquerda"></ion-img>
        <ol>
          <li>Condições das superfícies: <strong>Ausência Deformações</strong></li>
          <li>Entrada de ar: <strong>Desobstruída</strong></li>
          <li>Freio: <strong>Verificar(Tubulação/Disco/Pastilha)</strong></li>
          <li>Pneu: <strong>Verificar estado e marcação vermelha</strong></li>
          <li>Trem de pouso principal: <strong>Verificar distenção(60mm)</strong></li>
          <li>Tudo de Pitot: <strong>Remover capa</strong></li>
          <li>Tanque de Combustível: <strong>Verificar quantidade</strong></li>
          <li>Dreno dos Tanques: <strong>Drenar</strong></li>
          <li>Amarração: <strong>Remover</strong></li>
          <li>Suspiro do tanque de Combustível: <strong>Desobstruído</strong></li>
          <li>Ponta de asa e luzes: <strong>Verificar</strong></li>
          <li>Descaregadores estáticos: <strong>Verificar</strong></li>
          <li>Aileron e articulações: <strong>Verificar</strong></li>
          <li>Flap e articulações: <strong>Verificar</strong></li>
        </ol>
        <h6 class="teste">Cone da Cauda</h6>
        <ion-img src="./assets/secao3/conecauda.jpg" alt="Cone da cauda"></ion-img>
        <ol>
          <li>Antenas: <strong>Verificar</strong></li>
          <li>Empenagem: <strong>Ausência deformações</strong></li>
          <li>Profundor: <strong>Verificar</strong></li>
          <li>Carenagens e janelas de inspeção: <strong>Verificar</strong></li>
          <li>Entrada de Ar(deriva): <strong>Desobstruída</strong></li>
          <li>Tomada de pressão Estática:<strong>Desobstruída</strong></li>
          <li>Condições das superfícies: <strong>Ausência deformações</strong></li>
          <li>Luzes de cauda: <strong>Verificar</strong></li>
          <li>Estabilizador e compensador: <strong>Verificar</strong></li>
          <li>Leme de Direção: <strong>Verificar</strong></li>
          <li>Tomada de pressão Estática: <strong>Desobstruída</strong></li>
          <li>Amarração: <strong>Remover</strong></li>
          <li>Garfo de reboque e bagagem: <strong>Acondicionado no Bagageiro</strong></li>
          <li>Porta do Bagageiro: <strong>Fechar e travar</strong></li>
        </ol>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Acionamento</h3>
        <p>Para acionameto, deve-se posisionar a aeronave de forma que o ar vindo das hélices não jogue poeira nos espectadores, outros 
          outros aviões ou penetre no hangar.
        </p>
        <p>Neste bimotor, deve-se acinar primeiramente o motro esquerdo, poís em caso de fogo,o abandono será pela porta situada no lado 
          direito da aeronave.
        </p>
        <ion-img src="./assets/secao3/fogoesquerdo.jpg" alt="fogo motor"></ion-img>
        <h5 class="teste">Check de acionamento</h5>
        <ol>
          <li>Inspeção Pré-voo: <strong>Completa</strong></li>
          <li>Frio de estacionamento: <strong>Aplicado</strong></li>
          <li>Calços: <strong>Retirados</strong></li>
          <li>Flap: <strong class="maiusculo">up</strong></li>
          <li>Banco e cinto de segurança: <strong>Ajustados e travados</strong></li>
          <li>Porta: <strong>Fechada e tavada</strong></li>
          <li>CBs: <strong></strong>Verificar armados</li>
          <li>Bateria: <strong class="maiusculo">on</strong></li>
          <li>Master: <strong class="maiusculo">on</strong></li>
          <li>Rádio: <strong class="maiusculo">on</strong></li>
          <li>Autorização: <strong>Obter</strong></li>
          <li>Rádio: <strong class="maiusculo">off</strong></li>
          <li>Master: <strong class="maiusculo">off</strong></li>
          <li>Seletora de Combustível: <strong>Alavancas em <span class="maiusculo">on</span></strong></li>
          <li>Cowl Flap: <strong>Abertos</strong></li>
          <li>Ar alternado: <strong>Fechada</strong></li>
          <li>Mistura: <strong>Rica</strong></li>
          <li>Manetes de Hélice (passo): <strong>Máx RPM</strong></li>
          <li>manete de potência: <strong>Abrir +/- 1,5cm</strong></li>
          <li>Beacon: <strong class="maiusculo">on</strong></li>
          <strong class="ligar">Procedimento para o motor Esquerdo</strong>
          <li>Magnetos: <strong class="maiusculo">on</strong></li>
          <li>Bomba elétrica: <strong><span class="maiusculo">on</span> 3s, após <span class="maiusculo">off</span></strong></li>
          <li>Mistura: <strong>Cortar</strong></li>
          <li>Área da hélice: <strong>Livre</strong></li>
          <li>Starter: <strong class="maiusculo">engage</strong></li>
          <li>Mistura: <strong>Avançar após motor funcionar</strong></li>
          <li>Pressão Óleo: <strong>Checar</strong></li>
          <small><strong id="danger">Se não tiver indicação de pressão em 30s, cortar o motor.</strong></small>
          <li>RPM: <strong>1000 RPM</strong></li>
          <li>Alternador: <strong class="maiusculo">on</strong></li>
          <strong class="ligar">Procedimento para o motor Direito</strong>
          <li>Magnetos: <strong class="maiusculo">on</strong></li>
          <li>Bomba elétrica: <strong><span class="maiusculo">on</span> 3s, após <span class="maiusculo">off</span></strong></li>
          <li>Mistura: <strong>Cortar</strong></li>
          <li>Área da hélice: <strong>Livre</strong></li>
          <li>Starter: <strong class="maiusculo">engage</strong></li>
          <li>Mistura: <strong>Avançar após motor funcionar</strong></li>
          <li>Pressão do Óleo: <strong>Checar</strong></li>
          <small><strong id="danger">Se não tiver indicação de pressão em 30s, cortar o motor.</strong></small>
          <li>RPM: <strong>1000 RPM</strong></li>
          <li>Alternador:<strong class="maiusculo">on</strong></li>
        </ol>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Após o acionamento</h3>
        <ol>
          <li>Instrumentos do motor: <strong>Checar</strong></li>
          <li>Mistura: <strong>Ajustar</strong></li>
          <li>Master: <strong class="maiusculo">on</strong></li>
          <li>Rádios: <strong class="maiusculo">on</strong></li>
          <li>Seletora esquerda: <strong>60s em X-FEED, após <span class="maiusculo">on</span>?</strong></li>
          <li>Seletora direita: <strong>60s em X-FEED, após <span class="maiusculo">on</span>?</strong></li>
          <li>Tranponder: <span class="maiusculo">stby</span>/2000<strong></strong></li>
        </ol>
        <h6><strong>Observações</strong></h6>
        <p>Aquecer o motor a 1000 RPM. Neste regime, a bomba de óleo trabalha de forma eficiente e a hélice fornece uma corrente de 
          ar suficente para a refrigeração do motor para que o mesmo não aqueça excessecivamente.
        </p>
        <p>Não efetuar operações antes de atingir a temperatura apropiada de funcionamento.</p>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Taxi</h3>
        <p>Durante o taxi, use a manete de potência suavemente.</p>
        <p>O taxi deve ser apenas suficente para locomover lentamente a uma velocidade correspondente a uma pessoa andando. Caso 
          haja perigo de colisão, aplicar os freios com suavidade e deslige o motor cortando a mistura.
        </p>
        <p><strong id="danger">Essa aeronave não realiza taxi monomotor.</strong></p>
        <ol>
          <li>Outorização de taxi: <strong>Obter</strong></li>
          <li>Luz de navegação: <strong>Como requerida</strong></li>
          <li>Luzes auxiliares: <strong>Como requerida</strong></li>
          <li>Briefing de taxi: <strong>Realizar</strong></li>
          <li>Área de taxi: <strong>Livre</strong></li>
          <li>Freios: <strong>Soltar</strong></li>
          <li>Manetes de potência: <strong>Avançar lentamente</strong></li>
          <li>Manetes de hélice: <strong>Max RPM</strong></li>
          <li>Freios: <strong>Checar operacional</strong></li>
          <li>Comando direcional: <strong>Verificar</strong></li>
          <li>Turn and Bank: <strong>Verificar</strong></li>
          <li>X-FEED: <strong>Checar ambas por 30s</strong></li>
        </ol>
        <p>Se um dos motores apagar durante quando a seletora estiver em X-FEED, abortar a missão. <strong id="danger" class="maiusculo">não poderá 
          realizar o voo com esta pane
        </strong>.</p>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Check de cabeceira</h3>
        <p>De acordo com o check de cabeceira, é obrigatório verificar cada item <strong id="subipca" class="maiusculo">sem pressa e na ordem descrita
          no checklist</strong>.</p>
        <p>Mantenha o Checklist na aultura dos olhos para uma visualização adequada.</p>
        <p><strong id="danger">IPCA</strong></p>
        <p>No check de magnetos, quado se desliga o magneto esquerdo, estamos chequando o magneto direito e vice-versa.</p>
        <p>Cada motor tem seus respectivos magnetos. Cheque um motor por vez, <span id="subipca">iniciando pelo esquerdo.</span></p>
        <h6 class="teste">Check de cabeceira</h6>
        <ol>
          <li>Frio de estacionamento: <strong>aplicar</strong></li>
          <li>Manete de potência: <strong>1000 RPM</strong></li>
          <li>Seletoras de Combustível: <strong class="maiusculo">on</strong></li>
          <li>Comandos de voo: <strong>Livres e correspondentes</strong></li>
          <li>Flaps: <strong>checar</strong></li>
          <li>compensadores: <strong>Neutro</strong></li>
          <li>Manete de potência: <strong>1500 RPM</strong></li>
          <li>Manete de hélice: <strong>Checar embandeiramento MAX 500 RPM</strong></li>
          <li>Manete de Mistura: <strong>Pobre, após Rica (2x)</strong></li>
          <li>Manete de potência: <strong>2000 RPM</strong></li>
          <li>Pressão / Temp do Óleo: <strong id="vrde">Faixa Verde</strong></li>
          <li>Manete de hélice: <strong>Checar governador 100 a 200 RPM</strong></li>
          <li>Ar alternado: <strong>Verificar fechado</strong></li>
          <li>Magnétos: <strong id="subipca">Queda max 175 RPM/ Diferença max 50 RPM</strong></li>
          <li>Sucção: <strong>Entre 4 e 6</strong></li>
          <li>Manetes de potência: <strong>Marcha lenta entre 700 e 850 RPM</strong></li>
          <li>Manete de potência: <strong>1000 RPM</strong></li>
          <li>Altímetro: <strong>Ajustar</strong></li>
          <li>Velocímetro: <strong>Zerado/ajustar</strong></li>
          <li>Turn e Bank<strong>Verificar</strong></li>
          <li>Portas e janelas: <strong>Fechadas e travadas</strong></li>
          <li>Flap: <strong>checar</strong></li>
          <li>Briefing de Decolagem: <strong>Executar</strong></li>
        </ol>
        <h5 class="teste">Briefing de Decolagem</h5>
        <p>Vamor realizar uma decolagem normal da cabeceira 03/21 com flaps recolhidos. Com o avião alinhado e freios aplicados, iremos 
          elevear a potência até atingir 2000 RPM, onde irmos realizar o call out <strong class="maiusculo">engine instrument cheked</strong>. Após, 
          liberaremos os freios e levaremos a manete de potência toda a frente. Durante a corrida de decoloagem será efetuado o call out 
          <strong class="maiusculo">airspeed alive</strong>. Ao atingir 85 MPH iremos iniciar a totação da aeronave. Após verificar climb positivo e pista 
          não suficiente a frente, recolher o trem de pouso. A velocidadede subida será 105 MPH e ao atingir 500 ft realizaremos o after 
          takeoff Checklist, reduzindo o motor para <strong>25 Pol</strong>, <strong>2500 RPM</strong> e <strong>12 Gal</strong> para a subida.
        </p>
        <h6 id="danger">IPCA</h6>
        <p>Antes de entrar na pista, verificar circuito de trafego e pista livre e colocar transponder em ALT.</p>
        <p>Quando com a acft alinhada na pista, verificar bussola, horizonte artificial e giro direcional</p>
        <p><strong class="maiusculo">não</strong> esquecer de ligar bomba eletrcia farol de pouso.</p>
        <h5 class="destaqueEmer">Briefing de emergência</h5>
        <p>Caso não haja indicaçãode speed alive no velocimetro com pista suficiente para uma para de segurança, a decolagem deverá 
          ser abortada.
        </p>
        <p>Em caso de perda de reta ou obstáculo na pista, iremos abortar decolagem reduzindo toda a potência para <span class="maiusculo">idle</span> 
          aplicando os freios conforme o necessário.
        </p>
        <p>Em caso de falha de motor durante a decolagem reduziremos as manetres de potência de ambos os motores, controlando a aeronave 
          através dos freios e do leme de direção. 
        </p>
        <p>Em caso de falha após a VR e com pista a suficente para pouso, reduziremos os motores e regressaremos para a pista.</p>
        <p>Em caso de falha após a VR e sem pista suficiente para pouso, recolheremos o trem de pouso e efetuaremos a subida com velocidade 
          entre 105 MPH e 80 MPH.
        </p>
        <h6 id="danger">IPCA</h6>
        <p>Toda emergência ou anormalidade será declarada em voz alta, o INVA deverá assumir os constroles da aeronave realizando o 
          call out <strong class="maiusculo">meus controles</strong>, e o aluno auxiliará conforme solicitado.
        </p>
        <h5 class="teste">Decolagem curta</h5>
        <small>Utilizada em caso de indisponibilidade de psita suficiente para um dadecolagem normal</small>
        <ul>
          <li>Checar tráfego e pista livre</li>
          <li>Alinhar aeronave na pista e neutralizar os pedais</li>
          <li>Verificar bússola, ajustar giro direcional e horizonte artificial</li>
          <li>Ligar farol de pouso e bombas elétricas</li>
          <li>transponder em <span class="maiusculo">alt</span> e ajusar flap para 25°</li>
          <li>Manter aeronave freiada e elevar a potência toda a frente</li>
          <li>Checar Instrumentos do motor</li>
          <li>liberar os freios</li>
          <li>Tirar a acft do solo a 70 MPH e subir com 105 MPH</li>
          <li>Não havendo pista suficiente a frente, frear a acft e comandar trem em cima</li>
          <li>Reduzir passo para 2500 RPM  e potência de 25 Pol</li>
          <li>Ao atingir uma altitude segura e velocidade correta, recolher o flap.</li>
        </ul>
        <h5 class="teste">Decolagem com obstáculo</h5>
        <ul>
          <li>Checar tráfego e pista livre</li>
          <li>Alinhar aeronave na pista e neutralizar os pedais</li>
          <li>Verificar bússola, ajustar giro direcional e horizonte artificial</li>
          <li>Ligar farol de pouso e bombas elétricas</li>
          <li>transponder em ALT e ajusar flap para 25°</li>
          <li>Manter aeronave freiada e elevar a potência toda a frente</li>
          <li>Checar Instrumentos do motor</li>
          <li>liberar os freios</li>
          <li>Tirar a acft do solo com 70 MPH e subir com 80 MPH até 200 ft AGL</li>
          <li>Não havendo pista suficiente a frente, frear a acft e comandar trem em cima</li>
          <li>Ao atingir 200 ft AGL, reduzir passo para 2500 RPM  e potência de 25 POL</li>
          <li>Ao atingir uma altitude segura e velocidade correta, recolher o flap.</li>
        </ul>
        <h6 class="teste">Decolagem com vento de través</h6>
        <p>Durante a corrida de decolagem com vento de través, torna-se necessário defletrir o manche para o lado do vento a fim de 
          evitar que a asa do lado do vento levante antecipadamento. No momento em que tirar a aeronave do solo, neutralize o manche e inicie 
          a correção de vento derivando a acft e deixando com que a mesma encare o vento, se tornando necessário fazer uso dos pedais (guinada)
        </p>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Subida inicial</h3>
        <p>Manter uma refêrencia visual na proa a fim de evitar que a acft descreva uma trajetória errônea durante a subida, isso ocorre 
          com vento de través. Ao cruzar 500 ft, realizar check de 500 ft.
        </p>
        <p>Antes de inciar a curva, deve-se realizar um check de área para ter a certeza de que não existe outro tráfego ao redor, em 
          voz alta, inicia-se o check de área, obeservando visualmente primeiro o <strong>lado externo</strong> da curva, após a proa e por 
          último o lado interno da curva.
        </p>
        <p>Se a intenção for manter o circuito, realizar a curva a 500 ft.</p>
        <p>Se a intenção e sair do circuito, amnter o eixo de decolagem até 1000 ft.</p>
        <h4 class="teste">Checklist de 500 ft</h4>
        <ol>
          <li>Instrumentos do motor: <strong id="vrde">Faixa Verde</strong></li>
          <li>Bombas elétricas: <strong class="maiusculo">off</strong></li>
          <li>Farol de pouso: <strong class="maiusculo">off</strong></li>
          <li>Flaps: <strong>Recolhidos</strong></li>
          <li>Trem de pouso: <strong>Recolhidos e travados (no light)</strong></li>
          <li>Potência: <strong>24 Pol</strong></li>
          <li>Passo: <strong>2400 RPM</strong></li>
        </ol>
        <ion-img src="./assets/secao3/dep.jpg" alt="Subida inicial"></ion-img>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Voo em cruzeiro</h3>
        <p>Aeronave ajsutada com <strong>2400 RPM</strong>, <strong>21 Pol</strong> e <strong>11 Gal</strong>. Velocidade de 140 MPH</p>
        <h5 id="danger">IPCA</h5>
        <p>Cabe lembrar que pressão de <span class="maiusculo">mainfold</span> em voo de cruzeiro pode variar de caordo com alguns fatores com o 
          <strong>densidade do ar</strong> , <strong>temperatura</strong>, <strong>peso da aeronave</strong> e etc.
        </p>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Pouso</h3>
        <p>Cada pouso deve ser palnejado de acordo com o comprimento da psuta e os fatores operacionais existemtes, rampa de aproximação 
          e ponto de toque previsto (1° terço da pista).
        </p>
        <h6 class="teste">Procedimentos</h6>
        <p><strong>Perna do vento: </strong>Último terço da pista, ligar as bombas elétricas, ligar farol de pouso, reduzir para 16 pol, 
          baixar trem de pouso e checar <span id="vrde">3 luzes verdes (three Green light)</span>.</p>
        <p><strong>Través da cabeceira: </strong>Verificar velocidade de <strong>115 MPH</strong> Se for o caso, verificar a velocidade 
        de 105 MPH para ajustar o <strong>Flpa para 10°</strong>.</p>
        <p><strong>Perna Base: </strong>Se for o caso, ajustar velocidade para 100 MPH para aplicar <strong>Flap 25°</strong>. Checar 
        <span>luzes do trem de pouso (baixado e travado)</span> e final livre.</p>
        <p><strong>Perna final: </strong>Se for o caso, ajustar Flap para posição 40° e manter <strong>95 MPH </strong>e realizar Checklist 
        de aproximação.</p>
        <ion-img src="./assets/secao3/pouso.jpg" alt="circuito de tráfego"></ion-img>
        <h5 class="teste">Cheque de aproximação</h5>
        <ol>
          <li>Mistura: <strong>Rica</strong></li>
          <li>Manete de hélice: <strong>Max RPM</strong></li>
          <li>Bombas de Combustível: <strong class="maiusculo">on</strong></li>
          <li>Farol de Pouso: <strong class="maiusculo">on</strong></li>
          <li>Trem de pouso: <strong>Three Green light</strong></li>
          <li>Pista: <strong>Livre</strong></li>
        </ol>
        <h6 id="danger">IPCA</h6>
        <p id="danger">Tenha sempre em mente que há a possibilidade de uma arremetida.</p>
        <h5 class="teste">Pouso com vento de través</h5>
        <p>Ao efeturar a aproximação, baixar levemente a asa para o lado do vento e aplicar pedal para o lado oposto ao que efetuou a 
          deflexão da asa, suficiente para compensar a deriva.
        </p>
        <p>A inclinação lateral e a aplicação do leme para o lado opsoto devem ser suficientes para manter o avião alinhado com o eixo 
          da pista. Tocar o solo primeiramente com a roda do trem de pouso do lado do vento mantendo a deflexão do manche para o lado do vento 
          até a parada total da acft e assim que tocar o solo, tirar a potência.
        </p>
        <p>Evitar que a aeronave toque desalinhada com o eixo da pista, evitando esforços excessivos sobre o trem de pouso e possvelmente 
          que o mesmo se feche ou realizar a técnica de glissar
        </p>
        <h6 id="danger">IPCA</h6>
        <p>Para pousos com componente de través acima de 8 Kt, o pouso deve ser realizado com flap 25°. Após o toque na pista o flap 
          deverá ser imediatamente recolhido. A aproximação deve ser feita caraguejando para o lado do vento e durante o flare o piloto 
          deverá alinhar as rodas e baixar a asa pro lado do vento.
        </p>
        <p id="subipca">A componente máxima de vento de través é de 15 KT.</p>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Arremetida</h3>
        <p>É iniciada com aplicação total de potência, atitude de voo ascendente e velocidade de subida de 105MPH, assim que se tenha 
          uma subida estabilizada.
        </p>
        <ol>
          <li>Trem de pouso: <strong>Recolher</strong></li>
          <li>Flaps: <strong>Recolher (de acordo com as velocidades)</strong></li>
          <li>Manete de hélices: <strong>2500 RPM</strong></li>
          <li>Manete de potência: <strong>25 Pol</strong></li>
          <li>Checklist de 500ft: <strong>Realizar a 500 ft</strong></li>
        </ol>
        <h5 class="teste">Arremetida monomotor</h5>
        <p>Arremetidas monomotor devem ser evitadas. Dependendo das condições, estas se tornarão <strong>impossíveis</strong></p>
        <p>Caso inevitável, o piloto deverá a arremetida aplicando toda a potência disponível no motor remanecente gradativamente, compensando 
          o efeito guinada gerado pelo empuxo assimétrico, assim que se tenha uma subida estabilizada.
        </p>
        <ol>
          <li>Trem de pouso: <strong>Recolher</strong></li>
          <li>Flaps: <strong>Recolher (de acordo com as velocidades)</strong></li>
          <li>Manete de hélice: <strong>2500 RPM</strong></li>
          <li>Manete de potência: <strong>25 Pol</strong></li>
          <li>Checklist de 500 ft: <strong>Realizar a 500 ft</strong></li>
        </ol>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Check após o pouso</h3>
        <ol>
          <li>Flaps: <strong>Recolhidos</strong></li>
          <li>Bombas elétricas: <strong class="maiusculo">off</strong></li>
          <li>Farol de pouso: <strong class="maiusculo">off</strong></li>
          <li>transponder: <strong class="maiusculo">stby/2000</strong></li>
        </ol>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Check de corte</h3>
        <ol>
          <li>Freio de estacionamento: <strong>Aplicar</strong></li>
          <li>Manetes de hélices: <strong>Max RPM</strong></li>
          <li>Rádios e equipamentos elétricos: <strong class="maiusculo">off</strong></li>
          <li>MAnetes de potência: <strong>1500 RPM</strong></li>
          <li>Mistura: <strong>Cortada</strong></li>
          <li>Beacon: <strong class="maiusculo">off</strong></li>
        </ol>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Check de abandono</h3>
        <ol>
          <li>Beacon: <strong class="maiusculo">off</strong></li>
          <li>Master: <strong class="maiusculo">off</strong></li>
          <li>Alternador: <strong class="maiusculo">off</strong></li>
          <li>Magnetos: <strong class="maiusculo">off</strong></li>
          <li>Freio de estacionamento: <strong>Soltar</strong></li>
          <li>Portas e janelas: <strong>Fechadas</strong></li>
          <li>Tubo de Pitot: <strong>Encapado</strong></li>
          <li>Calços: <strong>Colocar</strong></li>
        </ol>
      </div>
      <div id="capitulo">
        <h3 class="teste principal">Resumo dos regimes</h3>
        <table id="tbl">
          <tr>
            <th>Fase do Voo</th>
            <th>Potência</th>
            <th>RPM</th>
            <th>Mistura</th>
          </tr>
          <tr>
            <td>Decolagem</td>
            <td>Full</td>
            <td>Full(2700)</td>
            <td>Full Rica</td>
          </tr>
          <tr>
            <td>Subida</td>
            <td>25 Pol</td>
            <td>2500</td>
            <td>12Gal/Eng</td>
          </tr>
          <tr>
            <td>Cruzeiro</td>
            <td>20 Pol</td>
            <td>2400</td>
            <td>11Gal/Eng</td>
          </tr>
          <tr>
            <td>Descida</td>
            <td>18 Pol</td>
            <td>2300</td>
            <td>8Gal/Eng</td>
          </tr>
        </table>
      </div>
</ion-content>
<ion-button size="large" slots="end" (click)="fecharMdl()">Fechar</ion-button>