strong.ligar{
    background-color: #3880ff;;
    color: #ffffff;
    font-size: 80%;
}
.teste{
    background-color: #3880ff;
    color: #fff;
    text-align: center;
}
.principal{
    font-size: 190%;
}